.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;

  .modal-box{
    position: relative;
    pointer-events: auto;
    transition: all 0.2s linear;
    margin: 1.5rem auto;
    transform: translateY(-15px);
    opacity: 0;
    max-width: 100%;

    &.active{
      transform: translateY(0);
      opacity: 1;
    }
  }


  &-enter{
    opacity: 1;
  }
  &-enter-done{
    opacity: 1;
  }
  &-enter-active{
    opacity: 1;
  }

  &-exit{
    opacity: 0;
  }
  &-exit-active{
    opacity: 1;
  }
  &-exit-done{
    opacity: 1;
  }

}

//.my-modal-enter-active{
//  opacity: 1;
//}
//
//.my-modal-enter-done{
//  opacity: 1;
//}
//
//.my-modal-exit-active{
//  opacity: 0;
//}
//
//.my-modal-exit-done{
//  opacity: 0;
//}

.modal-mask{
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;

  &.active{
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
}