@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Light/Inter-Light.woff2') format('woff2'),
  url('../fonts/Inter/Light/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Medium/Inter-Medium.woff2') format('woff2'),
  url('../fonts/Inter/Medium/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Regular/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter/Regular/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}